<div class="card text-white bg-dark text-center " style="width: 30rem; margin-left:400px; margin-top: 60px;">
  <div class="card-header" >
   <h1 style="color:darkslategray">Doctor</h1>
  </div>
  <div class="card-body" >
    <button  type="button"  class="btn btn-lg btn-dark "  style="color:darkgrey;" (click)="login()">Sign In
    </button><br>
    <br>
    <button  type="button"  class="btn  btn-lg btn-dark" style="color:darkgrey" (click)="Signon()">Sign Up
    </button>
  </div>
</div>   
<div class="row">
  <router-outlet></router-outlet> 
</div> 

